body {
    background: #1e1e23;
    max-width: 75ch;
    margin: 2em auto;
    line-height: 1.5;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-size: 16pt
}

img {
    vertical-align: middle;
}


a:link {
    color: #467fc2;
    text-decoration: none
}

a:visited {
    color: #999999;
    text-decoration: none
}

a:hover {
    color: #467fc2;
    text-decoration: underline
}

a:active {
    color: #f93828;
    text-decoration: underline
}

.projects {
    line-height: 0.5;
}