:root {
	--purple: #7b68ee;
	--gray: #29292e;
	--dark: #202024;
	--white: #ffffff;
}

::-webkit-scrollbar {
	width: 0;
}

* {
	font-family: "Comic Sans MC";
	margin: 0;
}

body {
	background-color: var(--gray);
	line-height: 1.2;
	color: var(--white);
}

a {
	text-decoration: none;
	color: var(--white);
	transition: 0.4s;
	padding: 10px;
}

a:hover {
    color: var(--purple);
}

.navbar {
	height: 80px;
	font-size: 20px;
	background-color: var(--dark);
	border-bottom: 4px solid var(--purple);
	position: fixed;
	top: 0%;
	width: 100%;
}

.navbar ul {
    display: flex;
	align-items: center;
}

.flex {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 40px;
}

.home img {
    height: 40px;
}

.main {
	padding: 20px;
	font-size: 20px;
	text-align: center;
	background-color: var(--dark);
	border: 4px solid var(--purple);
	border-radius: 20px;
	position: fixed;
	top: 40%;
	left: 24%;
	right: 24%;
}

.footer {
	height: 60px;
	font-size: 20px;
	background-color: var(--dark);
    border-top: 4px solid var(--purple);
	position: fixed;
	bottom: 0%;
	width: 100%;
	text-align: center;
}

.footer p {
	margin: 14px;
}
